.navul li
{
  display: inline-block;
  padding: 10px;
}

.navul li a{
 
    color: white;
    padding: 5px;
    text-decoration: none;
}

.navul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;

}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width:100%;
  background-color: skyblue;
}